<template>
  <div id="app">
    <header class="navbar-container">
      <nav class="container-lg p-0">
        <div>
          <ul class="container row justify-content-between m-0 p-0">
            <li
              :class="
                current == 1
                  ? 'text-uppercase col-12 col-md active'
                  : 'text-uppercase col-12 col-md'
              "
              @click="current = 1"
            >
              <a href="#step1"><i class="fa fa-user"></i>about me</a>
            </li>
            <li
              :class="
                current == 2
                  ? 'text-uppercase col-12 col-md active'
                  : 'text-uppercase col-12 col-md'
              "
              @click="current = 2"
            >
              <a href="#step2"><i class="fa fa-book"></i>professional career</a>
            </li>
            <li
              :class="
                current == 3
                  ? 'text-uppercase col-12 col-md active'
                  : 'text-uppercase col-12 col-md'
              "
              @click="current = 3"
            >
              <a href="#step3"
                ><i class="fa fa-rocket"></i>pub & presentations</a
              >
            </li>
            <li
              :class="
                current == 4
                  ? 'text-uppercase col-12 col-md active'
                  : 'text-uppercase col-12 col-md'
              "
              @click="current = 4"
            >
              <a href="#step4"><i class="fa fa-edit"></i>teaching courses</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container">
      <h1 class="text-uppercase mb-5">resume</h1>
      <div class="body-container row">
        <aside class="col-12 col-md-4 mb-5">
          <div class="profational-details">
            <div class="text-uppercase aside-header border-bottom">
              perofessional detail
            </div>
            <img
              src="sources/Dr_Siadati.jpg"
              alt="profile photo"
              class="w-100"
            />
            <ul class="personal-info m-0 border-bottom">
              <li class="d-flex">
                <div class="text-uppercase w-50 personal-info-titles">
                  name
                </div>
                <div>Hossein Siadati</div>
              </li>
              <li class="d-flex">
                <div class="text-uppercase w-50 personal-info-titles">
                  phone
                </div>
                <div>(+9821)84063269</div>
              </li>
              <li class="d-flex">
                <div class="text-uppercase w-50 personal-info-titles">
                  fax
                </div>
                <div>(+9821)88677274</div>
              </li>
              <li class="d-flex">
                <div class="text-uppercase w-50 personal-info-titles">
                  e-mail
                </div>
                <div>siadati@kntu.ac.ir</div>
              </li>
              <li class="d-flex">
                <div class="text-uppercase flex-fill personal-info-titles">
                  degree
                </div>
                <div class="w-50">
                  Ph.D. in Materials Science and Engineering
                </div>
              </li>
              <li class="d-flex">
                <div class="text-uppercase flex-fill personal-info-titles">
                  location
                </div>
                <div class="w-50">
                  Tehran, Iran<br />Faculty of Mechanical Engineering K. N.
                  Toosi University of Technology
                </div>
              </li>
              <li class="d-flex">
                <div class="text-uppercase flex-fill personal-info-titles">
                  p.o. box
                </div>
                <div class="w-50">
                  19395-1999
                </div>
              </li>
            </ul>
            <div class="text-uppercase aside-header border-bottom">
              attachments
            </div>
            <div class="attachments-body">
              <div
                class="attachment-items d-flex justify-content-between align-items-center"
              >
                <div>
                  <img src="sources/pdf-icon.jpg" alt="PDF" class="mr-2" />
                  Curriculum-Vitae.pdf
                </div>
                <div>
                  <i class="fa fa-eye ml-2"></i>
                  <a href=""><i class="fa fa-cloud-download ml-2"></i></a>
                </div>
              </div>
              <div
                class="attachment-items d-flex justify-content-between align-items-center"
              >
                <div>
                  <img src="sources/word-icon.jpg" alt="WORD" class="mr-2" />
                  Curriculum-Vitae.pdf
                </div>
                <div>
                  <i class="fa fa-eye ml-2"></i>
                  <a href=""><i class="fa fa-cloud-download ml-2"></i></a>
                </div>
              </div>
            </div>
          </div>
        </aside>
        <article class="col-12 col-md-8">
          <div v-if="current == 1" id="step1">
            <div class="body mb-5" style="display: block;">
              <h2 class="text-uppercase border-bottom">about me</h2>
              <div class="body-content">
                <div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Egestas purus viverra accumsan in nisl nisi. Arcu
                    cursus vitae congue mauris rhoncus aenean vel elit
                    scelerisque. In egestas erat imperdiet sed euismod nisi
                    porta lorem mollis. Morbi tristique senectus et netus.
                    Mattis pellentesque id nibh tortor id aliquet lectus proin.
                    Sapien faucibus et molestie ac feugiat sed lectus
                    vestibulum. Ullamcorper velit sed ullamcorper morbi
                    tincidunt ornare massa eget. Dictum varius duis at
                    consectetur lorem. Nisi vitae suscipit tellus mauris a diam
                    maecenas sed enim. Velit ut tortor pretium viverra
                    suspendisse potenti nullam. Et molestie ac feugiat sed
                    lectus. Non nisi est sit amet facilisis magna. Dignissim
                    diam quis enim lobortis scelerisque fermentum. Odio ut enim
                    blandit volutpat maecenas volutpat. Ornare lectus sit amet
                    est placerat in egestas erat. Nisi vitae suscipit tellus
                    mauris a diam maecenas sed. Placerat duis ultricies lacus
                    sed turpis tincidunt id aliquet.
                  </p>
                </div>
                <div>
                  <h3 class="text-uppercase px-0">
                    TEACHING & RESEARCH FIELD
                  </h3>
                  <span class="skill-box"
                    >Materials Science and Engineering</span
                  >
                </div>
                <div>
                  <h3 class="text-uppercase px-0">
                    SPECIFIC TOPIC OF INTEREST
                  </h3>
                  <span class="skill-box"
                    >Catalysis, Nano Catalysts, Electronic Materials</span
                  >
                </div>
              </div>
            </div>
            <div class="body mb-5" style="display: block;">
              <h2 class="text-uppercase border-bottom">
                RESEARCH INTERESTS (FUNDED RESEARCH)
              </h2>
              <div class="body-content">
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">2012</div>
                  <div class="col-10">
                    First Phase of High Temperature Superconducting Technology
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">2012</div>
                  <div class="col-10">
                    Evaluation of the Roadmap for High Temperature
                    Superconducting Project
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">2011</div>
                  <div class="col-10">
                    Growth of Multi Wall Carbon Nanotubes (MWCNTs) on a
                    Substrate and Measuring its Field Emission (FE) Property
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">2010</div>
                  <div class="col-10">
                    Tribology Evaluation of Turbine Blade Coated with WC-Co
                    using High Velocity Oxy-Fuel (HVOF) Thermal Spray Technology
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-2 dates mb-2">2002</div>
                  <div class="col-10">
                    Study of Pore Wall Structure Development in MoS2 Catalysts,
                    using Small Angle X-ray Scattering (SAXS),” Stanford
                    Synchrotron Radiation Laboratory
                  </div>
                </div>
              </div>
            </div>
            <div class="body mb-5" style="display: block;">
              <h2 class="text-uppercase border-bottom">
                professional biography
              </h2>
              <div class="body-content">
                <div>
                  <h3 class="text-uppercase px-0">current position</h3>
                  <div class="row mb-4">
                    <div class="col-12 col-md-2 dates mb-2">Sept 2008 TILL NOW</div>
                    <div class="col-10">
                      Assistant Professor, Materials Science and Engineering
                      Division, Mechanical Engineering Department, K. N. Toosi
                      University, Tehran, Iran
                    </div>
                  </div>
                </div>
                <div>
                  <h3 class="text-uppercase px-0">education</h3>
                  <div class="row mb-4">
                    <div class="col-12 col-md-2 dates mb-2">1999-2004</div>
                    <div class="col-10">
                      <b>Ph.D. in Materials Science and Engineering</b>,
                      University of Texas at El Paso, El Paso, TX<br />
                      <b>Dissertation Title:</b> Open Flow Hot Isostatic
                      Pressing Assisted Synthesis of Highly Porous Materials and
                      Catalysts
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-12 col-md-2 dates mb-2">1991-1993</div>
                    <div class="col-10">
                      <b>M. S. in Chemical Engineering</b>, New Mexico State
                      University, Las Cruces, NM<br />
                      <b>Thesis Title:</b> High-Power Ultrasonic Processing of
                      Ceramic Powders and Ceramic-Matrix Composites
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-12 col-md-2 dates mb-2">1987-1990</div>
                    <div class="col-10">
                      <b>M. S. in Metallurgical and Materials Engineering</b>,
                      New Mexico Institute of Mining and Technology, Socorro,
                      NM<br />
                      <b>Thesis Title</b>: The Role of Tin Dioxide as an
                      Interphase in Alumina/Glass Composite System
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-12 col-md-2 dates mb-2">1981-1985</div>
                    <div class="col-10">
                      B. S. in Metallurgical and Welding Engineering, California
                      Polytechnic State University, San Luis Obispo, CA
                    </div>
                  </div>
                </div>
                <div>
                  <h3 class="text-uppercase px-0">PROFESSIONAL ACTIVITIES</h3>
                  <div class="row mb-4">
                    <div class="col-12 col-md-2 dates mb-2">May 2-3,2012</div>
                    <div class="col-10">
                      <b>Invited Judge</b>, The Second Conference on Hydrogen &
                      Fuel Cell, Mechanical Engineering Department, K. N. Toosi
                      University of Technology, Tehran, Iran
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-12 col-md-2 dates mb-2">2000</div>
                    <div class="col-10">
                      Invited Judge, The 10th Annual Environmental Design
                      Contest of WERC, A Consortium for the Environmental
                      Education & Technology Development, New Mexico State
                      University, Las Cruces, NM
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-12 col-md-2 dates mb-2">1999</div>
                    <div class="col-10">
                      Invited Judge, The 1999 Design Contest, Waste-management
                      Education & Research Consortium, New Mexico State
                      University, Las Cruces
                    </div>
                  </div>
                </div>
                <div>
                  <h3 class="text-uppercase px-0">CERTIFICATIONS/AWARDS</h3>
                  <div class="row mb-4">
                    <div class="col-12 col-md-2 dates mb-2">Oct. 10-12,2012</div>
                    <div class="col-10">
                      Workshop on “An Introduction to Meta-Materials,”
                      International Conference on Mechanical Engineering and
                      Advanced Technology, Isfahan, Iran
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-12 col-md-2 dates mb-2">2004</div>
                    <div class="col-10">
                      Outstanding Materials Science and Engineering Doctoral
                      Student, University of Texas at El Paso, El Paso, TX
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-12 col-md-2 dates mb-2">1999</div>
                    <div class="col-10">
                      Hazardous Compounds/Lab Safety, Environmental Health and
                      Safety Office , University of Texas at El Paso, El Paso,
                      TX
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-12 col-md-2 dates mb-2">1995</div>
                    <div class="col-10">
                      Chemical Waste Generator Training, Environment, Safety and
                      Health Office, Sandia National Laboratory, NM
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-12 col-md-2 dates mb-2">1995</div>
                    <div class="col-10">
                      Safety Seminar, the Swagelok Company, Albuquerque, NM
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-12 col-md-2 dates mb-2">1994</div>
                    <div class="col-10">
                      Basic Pressure Safety, Environment, Safety and Health
                      Office,Sandia National Laboratory, NM
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-12 col-md-2 dates mb-2">1993</div>
                    <div class="col-10">
                      CRLA Tutoring, College Reading and Learning Association,
                      Student Support Services, New Mexico State University, NM
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="body mb-5" v-if="current == 2" id="step2">
            <h2 class="text-uppercase border-bottom">
              professional experience
            </h2>
            <div class="body-content">
              <div>
                <h3 class="text-uppercase px-0">work experiences</h3>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">Jan.2011-
                    Nov.2012</div>
                  <div class="col-10">
                    <b>Graduate Student Advisor</b>, Around 600 Graduate
                    Students, Mechanical Engineering Department, K. N. Toosi
                    University, Tehran, Iran
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">Nov.2005– July 2008</div>
                  <div class="col-10">
                    <b>Founder and President</b>, FastComm, LLC, El Paso, TX.
                    Involved in technology transfer, i.e., trying to introduce
                    our patented discovery to the industry and consequently
                    licensing it. Also involved in research and development of
                    my ideas/discoveries to the industry via patenting and
                    licensing.
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">July2004 – Oct.2005</div>
                  <div class="col-10">
                    <b>Chief Technical Officer</b>, Refinery Science Corp., El
                    Paso, TX. Prepared and submitted proposals to SBIR-STTR
                    programs to attract Federal funding toward implementing
                    Company's new technologies for treating heavy crude oil
                    economically. The technologies also apply to sulfur removal
                    from transportation fuels for diminishing acid rain and
                    meeting EPA regulations.
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">Feb 2004 – May 2006</div>
                  <div class="col-10">
                    <b>Research Scientist</b>, Department of Chemistry,
                    Materials Science and Engineering Program, University of
                    Texas at El Paso, El Paso, TX. Involved in synthesis and
                    characterization of catalysts and their respective
                    precursors. Developed new methods to formulate catalysts for
                    mass production feasibility.
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">99-04</div>
                  <div class="col-10">
                    <b>Research Assistant</b>exas at El Paso, El Paso, TX.
                    Involved in optimizing the processing variables of a new
                    technique (patented) for synthesizing the next generation of
                    HDS catalysts and porous materials. The resulting materials
                    exhibit unique properties that include high surface area,
                    narrow pore size distribution and high catalytic activity.
                    They are potentially licensable to all petroleum and
                    petroleum chemical companies for a wide variety of
                    environmental and product improvement purposes.
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">94-99</div>
                  <div class="col-10">
                    <b>Manager/Engineering Consultant</b>, IET&C, Inc.,
                    Albuquerque, NM. At the position of management conducted
                    training and consulting clients of different backgrounds on
                    materials properties, selection, and handling as related to
                    environmental as well as pollution prevention and waste
                    remediation.
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">1995</div>
                  <div class="col-10">
                    <b>Process Operator</b>, worked for nearly three months at
                    Silmax, Inc. Albuquerque, NM. to become familiar with clean
                    room environment and gain first-hand experience with silicon
                    wafer handling and processes involved in silicon wafer
                    reclamation.
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">94-96</div>
                  <div class="col-10">
                    <b>Research Assistant</b>, Chemical and Nuclear Engineering
                    Dept., University of New Mexico, Albuquerque, NM.
                    Synthesized and characterized ceramic and metallic thin
                    films using cold-wall impinging flow reactor, MOCVD, XRD,
                    SEM, Auger, etc.
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">91-93</div>
                  <div class="col-10">
                    <b>Teacher Assistant</b>, Chemical Engineering Dept., New
                    Mexico State University, Las Cruces, NM. Assisted and taught
                    Chemical Engineering classes.
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">87-91</div>
                  <div class="col-10">
                    <b>Research Assistant</b>, Materials Engineering Dept., New
                    Mexico Institute of Mining and Technology, Socorro, NM.
                  </div>
                </div>
              </div>
              <div>
                <h3 class="text-uppercase px-0">FUNDED RESEARCH</h3>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">2012</div>
                  <div class="col-10">
                    First Phase of High Temperature Superconducting Technology
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">2012</div>
                  <div class="col-10">
                    Evaluation of the Roadmap for High Temperature
                    Superconducting Project
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">2011</div>
                  <div class="col-10">
                    Growth of Multi Wall Carbon Nanotubes (MWCNTs) on a
                    Substrate and Measuring its Field Emission (FE) Property
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">2010</div>
                  <div class="col-10">
                    Tribology Evaluation of Turbine Blade Coated with WC-Co
                    using High Velocity Oxy-Fuel (HVOF) Thermal Spray Technology
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">2002</div>
                  <div class="col-10">
                    Study of Pore Wall Structure Development in MoS2 Catalysts,
                    using Small Angle X-ray Scattering (SAXS),” Stanford
                    Synchrotron Radiation Laboratory
                  </div>
                </div>
              </div>
              <div>
                <h3 class="text-uppercase px-0">TEACHING EXPERIENCES</h3>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">1999-2008</div>
                  <div class="col-10">
                    <b>College Instructor</b>, El Paso Community College, Taught
                    Math Classes
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">1991-1993</div>
                  <div class="col-10">
                    <b>Teacher Assistant</b>, New Mexico State University,
                    Assisted and taught Thermodynamics, Kinetics, Environmental
                    Engineering Classes
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">1992-1993</div>
                  <div class="col-10">
                    <b>Outstanding Math Tutor</b>, New Mexico State University,
                    Las Cruces, NM
                  </div>
                </div>
              </div>
              <div>
                <h3 class="text-uppercase px-0">TECHNICAL SKILLS</h3>
                <div class="mb-5">
                  Highly experienced in "nano-pore" size catalysts/materials
                  synthesis, thin film formation, composite materials, chemical
                  vapor deposition (CVD), and characterization by BET, SEM, TEM,
                  EDS, XRD, SAXS, optical microscopy and mechanical testing
                  techniques
                </div>
              </div>
              <div>
                <h3 class="text-uppercase px-0">PROFESSIONAL ACTIVITIES</h3>
                <ul>
                  <li class="mb-4">
                    Invited Judge, The Second Conference on Hydrogen & Fuel
                    Cell, Mechanical Engineering Department, K. N. Toosi
                    University of Technology, Tehran, Iran, May 2-3, 2012
                  </li>
                  <li class="mb-4">
                    Invited Judge to the 1999 Design Contest of Waste-management
                    Education & Research Consortium, New Mexico State
                    University, Las Cruces, NM 88003
                  </li>
                  <li class="mb-4">
                    Invited Judge to the 10th Annual Environmental Design
                    Contest of WERC, A Consortium for the Environmental
                    Education & Technology Development, New Mexico State
                    University, Las Cruces, NM 88003
                  </li>
                </ul>
              </div>
              <div>
                <h3 class="text-uppercase px-0">PATENT</h3>
                <ul>
                  <li class="mb-4">
                    M. H. <b>Siadati</b>, E. Ganjeh, S. N. Khalil Abad, A.
                    Zolriasatein and H. Khorsand, “Predicting carbon nanotubes
                    diameter using Artificial Neural Networks technique prior to
                    CVD synthesis applicable for the next generation of
                    displays”, Submitted for US Patenting
                  </li>
                  <li class="mb-4">
                    M. H. <b>Siadati</b>, G. Alonso and R. R. Chianelli,
                    “Preparation of amorphous sulfide sieves,” Patent No.: US
                    7,132,386 B2, Nov. 7, 2006
                  </li>
                </ul>
              </div>
              <div>
                <h3 class="text-uppercase px-0">CERTIFICATIONS / AWARDS</h3>
                <ul>
                  <li>
                    Outstanding Materials Science and Engineering Doctoral
                    Student, University of Texas at El Paso, El Paso, TX
                  </li>
                  <li class="mb-4">
                    Hazardous Compounds/Lab Safety, University of Texas at El
                    Paso, El Paso, TX
                  </li>
                  <li class="mb-4">
                    Chemical Waste Generator Training, Sandia National
                    Laboratory, NM
                  </li>
                  <li class="mb-4">
                    Safety Seminar, the Swagelok Company, Albuquerque, NM
                  </li>
                  <li class="mb-4">
                    Basic pressure safety, Sandia National Laboratory, NM
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="body mb-5" v-if="current == 3" id="step3">
            <h2 class="text-uppercase border-bottom">PUBLICATIONS</h2>
            <div class="body-content">
              <div>
                <h3 class="text-uppercase px-0">PUBLICATIONS</h3>
                <ul>
                  <li class="mb-4">
                    H. Barabadi, M. Jafarian, M. H. Siadati and M. Rashvand,
                    “Review of Cobalt Complex Nano-Catalyst for Water Splitting
                    Application,” Soon to submit, in Persian
                  </li>
                  <li class="mb-4">
                    H. Barabadi, M. Jafarian, M. Rashvand and M. H. Siadati,
                    “Electrochemical Synthesis and Characterization of Cobalt
                    Complex Nano-Catalyst for Water Splitting Application”, Soon
                    to submit
                  </li>
                  <li class="mb-4">
                    E. Ganjeh, S. N. Khalil Abad, A. Zolriasatein, F. Shabani
                    and M. H. Siadati, “Predicting carbon nanotubes diameter
                    using Artificial Neural Networks technique prior to CVD
                    synthesis”, Soon to submit
                  </li>
                  <li class="mb-4">
                    S. N. Khalil Abad, E. Ganjeh and M. H. Siadati, “Using
                    Artificial Neural Networks technique for predicting carbon
                    nanotubes diameter,” Iranian Journal of Physics Research, in
                    review, in Persian
                  </li>
                  <li class="mb-4">
                    M. Dayani, J. Zamani, M. H. Siadati and M. Ghiasvand,
                    “Ordered-structure metal composite foams produced by
                    casting,” Journal of Materials Engineering and Performance,
                    Manuscript ID: JMEP-13-01-4288, in review
                  </li>
                  <li class="mb-4">
                    H. Maleki-Ghaleh, M. Rekabeslami, M. S. Shakeri, M. H.
                    Siadati, M. Javidi and S. H. Talebian, “Nano-Structured
                    Thermal Barrier Coating by Electrophoretic Deposition,”
                    Journal of applied Surface Science, Manuscript ID:
                    APSUSC-D-12-05474, in review
                  </li>
                  <li class="mb-4">
                    N. Kiaei and M. H. Siadati, “Novel catalysts for solid oxide
                    fuel cells,” Iranian Society of Mechanical Engineers
                    Journal, 78 (2011) 44 in Persian
                  </li>
                  <li class="mb-4">
                    S. Shahrzad, H. Khorsand and M. H. Siadati, “Tribology
                    analysis on stainless steel steam turbine blades coated with
                    WC-Co via High Velocity Oxy Fuel (HVOF) Technique,” Iran
                    Surface Coatings Journal, 34 (2011) 30 in Persian
                  </li>
                  <li class="mb-4">
                    H. Khorsand, M. H. Siadati and E. Ganjeh, “Application of
                    carbon nano-tubes in thermoelectric materials,” Nano-Wheel
                    Journal, 5 (2010) 14 in Persian
                  </li>
                  <li class="mb-4">
                    E. Ganjeh, H. Khorsand and M. H. Siadati, “Introduction and
                    review of carbon nano-tubes applications in the petroleum
                    industry,” The Alchemist Age Journal, 7 (2010) 50 in Persian
                  </li>
                  <li class="mb-4">
                    E.Ganjeh, H. Khorsand and M. H. Siadati, “History and
                    structure of carbon nano-tubes,” The Alchemist Age Journal,
                    6 (2009) 46 in Persian
                  </li>
                  <li class="mb-4">
                    R. R. Chianelli, M. H. Siadati, A. Mehta, J. Pople, L.
                    Carbognani Ortega, and L. Y. Chiang, "Self-Assembly of
                    Asphaltene Micelles: Synchrotron, Simulation and Chemical
                    Modeling Techniques Applied to Problems in the Structure and
                    Reactivity of Asphaltenes," in "Asphaltene, Heavy Oils and
                    Petroleomics," pp 375-400 (O. C. Mullins, E. Y. Sheu, A.
                    Hammami, and A. G. Marshall, Eds.), Springer, 2006
                  </li>
                  <li class="mb-4">
                    R. R. Chianelli, M. H. Siadati, M. Perez De la Rosa, G.
                    Berhault, J. P. Wilcoxon, R. Bearden, Jr., and B. L. Abrams,
                    "Catalytic Properties of Single Layers of Transition Metal
                    Sulfide Catalytic Materials," Catalysis Reviews, 48 (2006)
                    1, ISI = 6.056
                  </li>
                  <li class="mb-4">
                    M. H. Siadati, G. Alonso, B. Torres and R. R. Chianelli,
                    "Open Flow Hot Isostatic Pressing Assisted Synthesis of
                    Highly Porous Catalysts," Applied Catalysis A: General, 305
                    (2006) 160, ISI = 1.557 7) R. R. Chianelli, M. Perez De la
                    Rosa, G. Meitzner, M. H. Siadati, M. J. Yacaman, A. Mehta,
                    J. Pople, S. Fuentes, G. Alonzo, and L. Polette,
                    "Synchrotron and Simulation Techniques Applied to Problems
                    in Materials Science: Catalysts, Fuel Cells and Azul Maya
                    Pigments" Journal of Synchrotron Radiation, 12 (2005) 129,
                    ISI = 1.114
                  </li>
                  <li class="mb-4">
                    E. Rivera-Munoz, D. Lardizabal, G. Alonso, A. Aguilar, M. H.
                    Siadati, and R. R. Chianelli, "Silica gel-supported,
                    metal-promoted MoS2 catalysts for HDS reactions," Catalysis
                    Letters, 94 (2004) 199, ISI = 2.051
                  </li>
                  <li class="mb-4">
                    G. Alonso, M. H. Siadati, G. Berhault, A. Aguilar, S.
                    Fuentes and R. R. Chianelli, "Synthesis of
                    tetraalkylammonium thiometallate precursors and their
                    concurrent in situ activation during Hydrodesulfurization of
                    Dibenzothiophene," Applied Catalysis A: General, 263 (2004)
                    109, ISI = 1.557
                  </li>
                  <li class="mb-4">
                    E. Rivera-Munoz, D. Lardizabal, G. Alonso, A. Aguilar, M. H.
                    Siadati, and R.R. Chianelli, "Silica gel- and
                    MCM-41-supported MoS2 catalysts for HDS reactions,"
                    Catalysis Letters, 85 (2003) 147, ISI = 2.051
                  </li>
                  <li class="mb-4">
                    G. Alonso, J. Yang, M. H. Siadati and R. R. Chianelli,
                    "Synthesis of Tetraalkylammonium Thiometallates in Aqueous
                    Solution", Inorg. Chim. Acta 325 (2001) 193, ISI = 1.295
                  </li>
                  <li class="mb-4">
                    M. H. Siadati, T. L. Ward, J. Martus, P. Atanasova, C. F.
                    Xia, and R. W. Schwartz, "Chemical Vapor Deposition of
                    CeO2-doped Y2O3-Stabilized Zirconia onto Dense and Porous
                    Substrates," Chemical Vapor Deposition 3 (1997) 311, ISI =
                    2.155
                  </li>
                  <li class="mb-4">
                    M. H. Siadati, M Weiser, and M. Ghassemi, "Power-Ultrasonic
                    Processing of Metals, Ceramics, and Ceramic Matrix
                    Composites – An Overview," in Int. J. Environmentally
                    Conscious Design and Manufacturing. R. Bhada, A. Ghassemi,
                    M. Shahinpoor, J. Weinrach (eds.), Las Cruces, NM, 1995, pp
                    313-322
                  </li>
                  <li class="mb-4">
                    M. Ghassemi and M. H. Siadati, "Review of leak detection
                    techniques for joints and seal applications," in Int. J.
                    Environmentally Conscious Design and Manufacturing. R.
                    Bhada, A. Ghassemi, M. Shahinpoor, J. Weinrach (eds.), Las
                    Cruces, NM, 1995, pp 169-177
                  </li>
                  <li class="mb-4">
                    M. H. Siadati, K. K. Chawla, and M. Ferber, "The role of
                    SnO2 interphase in an Alumina/Glass Composite: A
                    Fractographic Study," J. Mater. Sci. 26 (1991) 2743
                  </li>
                  <li class="mb-4">
                    M. H. Siadati and K. K. Chawla, "Characterization of Tin
                    Dioxide Interphase Coating in Alumina/Glass Composite,"
                    Materials Characterization 27 (1991) 19
                  </li>
                </ul>
              </div>
              <div>
                <h3 class="text-uppercase px-0">Conferences</h3>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">19-21 Feb, 2013</div>
                  <div class="col-10">
                    M. Azarbarmas and M. H. <b>Siadati</b>, “An Overview of
                    Graphene in Lithium-Ion Batteries,” The 7th Iranian Student
                    Conference on Mechanical Engineering, School of Mechanical
                    Engineering, University of Tehran, Tehran
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">May 8-9, 2012</div>
                  <div class="col-10">
                    H. Maleki-Ghaleh, M. S. Shakeri, J. K. Alafi, M. Rekabeslami
                    and M. H. <b>Siadati</b>, “Comparing Micro- and
                    Nano-Structured Thermal Barrier Coatings on Jet Engine
                    Turbine Blades,” 1st Conference on Advanced Materials for
                    Aerospace and Energy Industries, Karaj, Iran
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">Dec. 14, 2011</div>
                  <div class="col-10">
                    H. Maleki-Ghaleh, M. Rekabeslami, H. Jamadi and M. H.
                    <b>Siadati</b>, “Nano-YSZ Coating on Inconel 738-LC via
                    Electrophoretic Deposition Technique,” 1st Conference on
                    Electrophoretic Deposition, Karaj, Iran
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">May10-12, 2011</div>
                  <div class="col-10">
                    M. Rekabeslami, H. Khorsand and M. H. <b>Siadati</b>,
                    “Physio-Mechanical Properties Enhancement via Advanced
                    Nano-Structured Thermal Barrier Coatings,” 12th National
                    Conference on Surface Engineering, Tehran, Iran
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">Nov. 15-16, 2010</div>
                  <div class="col-10">
                    J. Zamani, M. H. <b>Siadati</b>, M. Dayani and M. Ghiasvand,
                    “Fabrication of metal composite foams with ordered structure
                    and investigating their mechanical properties in compressive
                    tests,” 4th Joint Conference of Iranian Metallurgical
                    Engineering Society and Iranian Foundry Society, Tehran,
                    Iran
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">Nov. 15-16, 2010</div>
                  <div class="col-10">
                    J. Zamani, M. H. <b>Siadati</b>, M. Dayani and M. Ghiasvand,
                    “Ordered-structure metal composite foams produced by
                    casting,” 4th Joint Conference of Iranian Metallurgical
                    Engineering Society and Iranian Foundry Society, Tehran,
                    Iran
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">August 27-31, 2000</div>
                  <div class="col-10">
                    D. Lardizabal, A. Aguilar, V. Collins, E. M. Rivera, M. H.
                    <b>Siadati</b>, G. Alonso and R. R. Chianelli, "Sol-Gel
                    Synthesis of Hydrotreating Catalysts" International
                    Materials Research Congress, Cancun, Mexico
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">August 27-31, 2000</div>
                  <div class="col-10">
                    D. Lardizabal, A. Aguilar, V. Collins, E. M. Rivera, M. H.
                    <b>Siadati</b>, G. Alonso and R. R. Chianelli, "Study of the
                    Support Structure Influence on MoS2 Catalytic Activity for
                    HDS" International Materials Research Congress, Cancun,
                    Mexico
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">June 3-8, 2001</div>
                  <div class="col-10">
                    G. Alonso, A. Aguilar, M. H. <b>Siadati</b>, C. Ornelas, V.
                    Collins, M. Miki and R. R. Chianelli, Molybdenum Disulfide
                    Catalysts by "in situ" Decomposition of Thiosalt
                    Precursors," 17th North American Catalysis Society Meeting,
                    Ontario, Canada
                  </div>
                </div>
              </div>
              <div>
                <h3 class="text-uppercase px-0">THESIS TITLES HONORED</h3>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">2011</div>
                  <div class="col-10">
                    E. Loni, “Solution-based synthesis of Cu-In-S nanoparticles
                    as sprayable ink and investigation of its photovoltaic
                    properties
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">2011</div>
                  <div class="col-10">
                    S. Shahrzad, “Tribology analysis on stainless steel steam
                    turbine blades coated with WC-Co via High Velocity Oxy Fuel
                    (HVOF) Technique
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">2012</div>
                  <div class="col-10">
                    M. Asli-Beygi, “Synthesis and investigation of mechanical
                    and tribological properties of polymer nano-composites
                    reinforced with ceramic nano-particles
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">2012</div>
                  <div class="col-10">
                    M. Rekabeslami, “Synthesis of Thermal Barrier Coating (TBC)
                    by Electro-Phoretic Deposition (EPD) technique using mixed
                    oxide nano-structure materials
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">2012</div>
                  <div class="col-10">
                    H. Barabadi, “Synthesis of Cobalt-based Nano-catalyst by
                    Electro-deposition for Water Splitting Application
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">2012</div>
                  <div class="col-10">
                    M. Fathidoost, “Optimizing the metallurgical microstructure
                    of Metal-Injection-Molded (MIM) stainless steel parts
                  </div>
                </div>
              </div>
              <div>
                <h3 class="text-uppercase px-0">PRESENTATIONS</h3>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">Dec. 2005</div>
                  <div class="col-10">
                    Open Flow Hot Isostatic Pressing Assisted Synthesis of
                    Highly Porous Materials and Catalysts, Shiraz University,
                    Iran
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-12 col-md-2 dates mb-2">2000</div>
                  <div class="col-10">
                    Synthesis and Characterization of Silica gel- and
                    MCM-41-supported MoS2 catalysts, International Materials
                    Research Congress, Cancun, Mexico
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="body mb-5" v-if="current == 4" id="step4">
            <h2 class="text-uppercase border-bottom">bio & skills</h2>
            <div class="body-content">
              <h3 class="text-uppercase px-0">
                COURSES
              </h3>
              <div>
                Teach Materials Science and Engineering Courses:
                <ul>
                  <li class="mb-4">Advanced Ceramic Materials</li>
                  <li class="mb-4">
                    Advanced Elactronic Materials and Devices (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/EMATS/e-mats001.pdf"
                      target="_blank"
                      >Lecture1</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/EMATS/e-mats002.pdf"
                      target="_blank"
                      >Lecture2</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/EMATS/e-mats003.pdf"
                      target="_blank"
                      >Lecture3</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/EMATS/e-mats004.pdf"
                      target="_blank"
                      >Lecture4</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/EMATS/e-mats005.pdf"
                      target="_blank"
                      >Lecture5</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/EMATS/e-mats006.pdf"
                      target="_blank"
                      >Lecture6</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/EMATS/e-mats007.pdf"
                      target="_blank"
                      >Lecture7</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/EMATS/e-mats008.pdf"
                      target="_blank"
                      >Lecture8</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/EMATS/e-mats009.pdf"
                      target="_blank"
                      >Lecture9</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/EMATS/e-mats010.pdf"
                      target="_blank"
                      >Lecture10</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/EMATS/e-mats011.pdf"
                      target="_blank"
                      >Lecture11</a
                    >)
                  </li>
                  <li class="mb-4">
                    Advanced Surface Science and Engineering (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/Surface001-2.pdf"
                      target="_blank"
                      >Lecture1-2</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/Surface003.pdf"
                      target="_blank"
                      >Lecture3</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/Surface004.pdf"
                      target="_blank"
                      >Lecture4</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/Surface005.pdf"
                      target="_blank"
                      >Lecture5</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/Surface006.pdf"
                      target="_blank"
                      >Lecture6</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/Surface007.pdf"
                      target="_blank"
                      >Lecture7</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/Surface007.pdf"
                      target="_blank"
                      >Lecture7</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/Surface009.pdf"
                      target="_blank"
                      >Lecture9</a
                    >)
                  </li>
                  <li class="mb-4">
                    Fundamentals of Materials Science and Engineering
                  </li>
                  <li class="mb-4">
                    Introduction to Material Science and Engineering ( Lecture1)
                    (Lecture2) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/ITMS/ITMS03.pdf"
                      target="_blank"
                      >Lecture3</a
                    >) (Lecture4) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/ITMS/ITMS05.pdf"
                      target="_blank"
                      >Lecture5</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/ITMS/ITMS06.pdf"
                      target="_blank"
                      >Lecture6</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/ITMS/ITMS07.pdf"
                      target="_blank"
                      >Lecture7</a
                    >) (Lecture8) (Lecture9) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/ITMS/ITMS10.pdf"
                      target="_blank"
                      >Lecture10</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/ITMS/ITMS11.pdf"
                      target="_blank"
                      >Lecture11</a
                    >) (Lecture12) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/ITMS/ITMS13.pdf"
                      target="_blank"
                      >Lecture13</a
                    >)
                  </li>
                  <li class="mb-4">
                    Materials Thermodynamics
                  </li>
                  <li class="mb-4">
                    Physical Properties of Materials
                  </li>
                  <li class="mb-4">
                    Simulation in Materials Science and Engineering
                  </li>
                  <li class="mb-4">
                    Surface Science and Engineering (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/Surface001-2.pdf"
                      target="_blank"
                      >Lecture1-2</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/Surface003.pdf"
                      target="_blank"
                      >Lecture3</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/Surface004.pdf"
                      target="_blank"
                      >Lecture4</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/Surface005.pdf"
                      target="_blank"
                      >Lecture5</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/Surface006.pdf"
                      target="_blank"
                      >Lecture6</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/Surface007.pdf"
                      target="_blank"
                      >Lecture7</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/Surface008.pdf"
                      target="_blank"
                      >Lecture8</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/Surface009.pdf"
                      target="_blank"
                      >Lecture9</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/AFM.pdf"
                      target="_blank"
                      >AFM</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/CVD.pdf"
                      target="_blank"
                      >CVD</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/Electrophoretic.pdf"
                      target="_blank"
                      >Electrophoretic</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/Fiber-Pullout.pdf"
                      target="_blank"
                      >Fiber-Pullout</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/Flame-Spray.pdf"
                      target="_blank"
                      >Flame-Spray</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/Meta-Mat.pdf"
                      target="_blank"
                      >Meta-Mat.pdf</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/STM.pdf"
                      target="_blank"
                      >STM.pdf</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/Synchrotron.pdf"
                      target="_blank"
                      >Synchrotron.pdf</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/Thermal-Spray.pdf"
                      target="_blank"
                      >Thermal-Spray.pdf</a
                    >) (<a
                      href="http://wp.kntu.ac.ir/siadati/Crs/SURFA/Topics.pdf"
                      target="_blank"
                      >Topics.pdf</a
                    >)
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
    <footer style="color:white">
      <div class="container">
        <div class="text-center">
          &copy Copyright 2008
          <a
            title="K. N. Toosi University"
            target="_blank"
            href="http://www.kntu.ac.ir/"
            >K. N. Toosi University</a
          >
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";

export default {
  name: "App",
  components: {
    HelloWorld,
  },
  data() {
    return {
      current: 1,
    };
  },
};
</script>
